<table class="ui single line table">
  <thead>
  <tr>
    <th colspan="2">{{title}}</th>
  </tr>
  </thead>
  <tbody>
  {{#each datas as |object|}}
    <tr>
      <td>{{object}}</td>
      <td>
        <a class="ui icon tiny negative button  right floated" {{action "delete" object}}>
          <i class="ui remove icon"></i>
        </a>
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="2">No {{title}} found</td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{yield}}